.container-fluid {
    background-color: rgba(72, 76, 80, 0.7);
    overflow: hidden;
    border-radius: 20px;
    padding: 10px;
    margin: 5%;
    max-width: 100%;
    width: 90%;
}

.container-fluid p {
    color: white;
    font-size: 25px;
    text-align: justify;
    margin: 1.5%;
    width:97%;
}

.container-fluid h1 {
    text-align: center;
    color: white;
    margin-top: 20px;
    font-weight: bold;
    transition: transform 0.2s;
}

.container-fluid h1:hover {
    transform: scale(1.1);
}


.container-fluid img{
    width: 38%;
    height: 38%;
    margin-left: 40px;
}

.btn button{
    margin-left: 20px;
    font-weight: 700;
    color: #ffffff;
    padding: 10px 40px;
    background: #484c50;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn button:hover {
    background-color: rgba(95, 122, 219);
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}

.card-subtitle {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 70px;
    transition: transform 0.3s;
}

.card-subtitle:hover {
    transform: scale(1.1);
}


.table{
    margin-top: 2%;
    background-color:rgba(33, 49, 63, .95) ;
    text-align: center;
    color: white;
}

.ver button{
    margin-left: 20px;
    font-weight: 700;
    color: #ffffff;
    padding: 10px 40px;
    background: #0c192c;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.ver button:hover {
    background-color: #0c192c;
    color: #ffffff;
    transform: scale(1.1);
}

.mostrar{
    margin-top: 2%;
    text-align: center;
}

.footer {
    text-align: center;
    background-color: rgba(46, 50, 57, 0.8);
    color: white;
    padding: 5px 10%;
}

.footer h3 {
    margin-top: 1%;
    transition: transform 0.2s;
}

.footer h3:hover {
    transform: scale(1.1);
}

